
.form-control {
    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
}
.SignUp {
    position: relative;
    width: 414px;
    height: 951px;
    background: #FFFFFF;
}



.input-form{
/* position: absolute; */
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: linear-gradient(180deg, #FF0303 0%, rgba(217, 83, 83, 0.59) 99.99%, rgba(206, 48, 48, 0) 100%, #F31313 100%);
box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
border-radius: 4px;

}

.input-key {
    /* position: absolute; */
left: 4.38%;
right: 50%;
top: 15.62%;
bottom: 25%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: black;
}
.ingredient-form_actions {

/* position: absolute; */
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Primary */

background: #EF3651;
box-shadow: 0px 4px 8px rgba(239, 54, 81, 0.35);
border-radius: 25px;
}


#submit {
/* 
position: absolute; */
left: 33.24%;
right: 33.53%;
top: 29.17%;
bottom: 29.17%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 20px;
/* identical to box height, or 56% */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}