.scrollableDiv {
    user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  min-height: 400px;
  width: 60%;
  border-radius: 25px;
  border: 0.2rem inset black;
}

.org_card.expanded {
  height: 310px;
}
.org_card.expanded .org_card_content {
  opacity: 100%;
  transition: ease-in 1s;
}
.org_card {
  background-color: rgba(255, 255, 255, 0);
  opacity: 90%;
  height: 70px;
  width: 270px;
  margin-top: 10px;
  cursor: pointer;
  left: 0px;
  top: 0px;
  border-radius: 40px;
  transition: ease-in-out 0.7s;
  border: 0.2rem inset rgb(206, 166, 166, 1);
}
.org_card_content {
  opacity: 0%;
  transition: ease-in 0.2s;
}

.org_card img {
  width: 150px;
  height: 50px;
  margin-top: 2px;
  border-radius: 40px;
}
.content {
  text-align: start;
}
li {
  font-size: 17px;
}
.DonateButton {
  margin: 15px;
  font-size: 40px;
  border-radius: 25px;
  background-color: rgba(236, 90, 62, 1);
  width: 343px;
  height: 48px;
  left: 35px;
  top: 855px;
  border: 0;
  transition: ease-in-out 0.5s;

}
.DonateButton:hover {
    transform: scale(1.2);
    background-color: rgba(236, 90, 62, 0.9); 
  }

.DonateButton:focus:before {
    transform: scale(2);
    transition: all 0.4s linear;
    opacity: 0;
  }
@media screen and (max-width: 600px) {
  .scrollableDiv {
    overflow: scroll;
    height: 80vh;
    width: 90%;
  }
  .org_card {
    justify-content: center;
    align-self: center;
  }
}
