.userDetail {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  left: auto;
  width: 70vw;
  justify-items: center;
}
fieldset{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-inline-start: 0px;
  margin-inline-end: 0;
}
.legend2 {
  position: absolute;
  top: -0.2em;
  right: 20px;
  background: transparent;
  line-height: 1.2em;
}

.input_label {
  font-size: 25px;
}
.form-control {
  margin-top: 20px;
  font-size: 18px;
}
.legendTitle {
  font-size: 40px;
}

@media screen and (max-width: 600px) {
  .userDetail {
    width: 90vw;
  }
  .form-control {
    font-size: 45px;
  }
  .legendTitle {
    font-size: 40px;
  }
}
