

.SignUpPage {
  width: 90vw;
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 139px;
  left: 0px;
  top: 708px;
  border-radius: 52px;
}

@media only screen and (max-width: 600px) {
  img.displayed {
    width: 90vw;
  }
}
